#main-section {
    background-color: blue;
}

h1, h3 {
    text-align: center;
}

.savedBtn {
    background-color: gray;
    border: none;
}

.text-area {
    width: 80%;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}